<!-- Modal -->
<div class="modal fade" id="createRoomModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create a Room</h4>
        </div>
        <div class="modal-body">
            <form role="form" id="create-room-form">
                <div class="form-group">
                    <label for="create-room-name"><span class="glyphicon glyphicon-user"></span> Room Name</label>
                    <input type="text" class="form-control" id="created-room-name">
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
    
    </div>
</div><!--div#myModal-->