<script src="js/lobby.js"></script>
<link rel="stylesheet" type="text/css"  href="css/lobby.css">
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <h2><button class="btn btn-default">
                <i class="fa fa-chevron-left"></i> LogOut</button> Rooms List</h2>
            <ul id="rooms-list">
                <li class="room-name">방1</li>
                <li class="room-name">방2</li>
                <li class="room-name">방3</li>
                <li class="room-name">방4</li>
                <li class="room-name">방5</li>
            </ul>
        </div><!--col-sm-8-->
    </div><!--row-->
</div><!-- container -->
