
.my-message-box {
    margin-top: 1em;
    float: right;
    clear: both;
}
    .my-message {
        clear:both;
        padding: 0.5em;
        margin-right: 1.5em;
        background-color: #ffec42;
        border-radius: 5px;
    }
        .my-message::after {
            content: '';
            position: absolute;
            border-bottom: 0.5em solid transparent;
            border-left: 1em solid #ffec42;
            border-top: 0.5em solid transparent;
        }

.friends-data-box {
    margin-top: 1em;
    float: left;
    clear: left;
    
}
    .friends-data-box > img {
        margin-top: .7em;
        height: 40px;
    }
    .friends-message-box {
        float: right;
    }
        .friends-message {
            clear:both;
            padding: 0.5em;
            margin-left: 1.2em;
            background-color: white;
            border-radius: 5px;
        }
            .friends-message::before {
                content: '';
                position: absolute;
                margin-left:-1em;
                border-bottom: 0.5em solid transparent;
                border-right: 1em solid white;
                border-top: 0.5em solid transparent;
            }
    .friends-name {
        margin-left: 1.4em;
        margin-bottom : 5px;
    }